---

image: clojure:temurin-11-lein-alpine

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .m2/repository

build:
  stage: build
  script:
    - lein with-profile cicd do check, compile, test, uberjar
    - lein with-profile cicd run -- --help
    - lein with-profile cicd run -- --size=7 --letters=cadevrsoi
  only:
    changes:
      - "**/*.clj"
      - .gitlab-ci.yml
  artifacts:
    paths:
      - target
