spec:
  inputs:
    target_tag:
      type: string
      default: "v1.0.0"
      regex: ^v\d\.\d+(\.\d+)$
      description: "Release tag to run"
    size:
      type: number
      default: 4
      description: "Minimum word size"
    letters:
      type: string
      default: ""
      regex: "^[a-z]*$"
      description: "Letters to use"
    repeats:
      type: boolean
      default: true
      description: "Allow repeated letters"
---
include:
  - component: >-
      gitlab.com/frankhjung1/clojure-wordpuzzle/run-wordpuzzle@master

variables:
  TARGET_TAG: $[[ inputs.target_tag ]]
  SIZE: $[[ inputs.size ]]
  LETTERS: $[[ inputs.letters ]]
  REPEATS: $[[ inputs.repeats ]]

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: always
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - when: always

stages:
  - build
  - deploy

build_and_test:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE != "web"
      when: always
  image:
    name: clojure:temurin-11-lein-alpine
  script:
    - lein with-profile cicd do check, compile, test, uberjar
    - lein with-profile cicd run -- --help
    - lein with-profile cicd run -- --size=7 --letters=cadevrsoi
  artifacts:
    paths:
      - target/uberjar/
      - resources/dictionary
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .m2/repository

package_and_release:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/ && $CI_PIPELINE_SOURCE != "web"
  needs:
    - job: build_and_test
      artifacts: true
  script:
    - apk add --no-cache curl tar ca-certificates
    - echo "Packaging release for ${CI_COMMIT_TAG}"
    - mkdir -p release
    - cp target/uberjar/wordpuzzle-*-standalone.jar release/
    - cp resources/dictionary release/
    - tar czf wordpuzzle-release.tar.gz -C release .
    - |
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" \
        --upload-file wordpuzzle-release.tar.gz \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/wordpuzzle/${CI_COMMIT_TAG}/wordpuzzle-release.tar.gz"
  release:
    name: "Release ${CI_COMMIT_TAG}"
    description: "Autogenerated release for version ${CI_COMMIT_TAG}"
    tag_name: "${CI_COMMIT_TAG}"
    assets:
      links:
        - name: "wordpuzzle-release.tar.gz"
          url: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/wordpuzzle/${CI_COMMIT_TAG}/wordpuzzle-release.tar.gz"
