---

image: clojure:temurin-11-lein-alpine

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .m2/repository

stages:
  - build

build:
  stage: build
  script:
    - lein with-profile cicd do check, compile, test, run
    - lein with-profile cicd run -- --size 7 cadevrsoi
  only:
    changes:
      - "**/*.clj"
      - .gitlab-ci.yml
