---

image: clojure:temurin-11-lein-alpine

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .m2/repository

stages:
  - build

build:
  stage: build
  script:
    - lein with-profile cicd do clean, check, compile, test, uberjar, run
    - java -cp target/uberjar/wordpuzzle-0.1.0-standalone.jar
        clojure.main -m wordpuzzle.main --letters "cadevrsoi" --size 7
  only:
    changes:
      - "**/*.clj"
      - .gitlab-ci.yml
