---
name: Build, Test, and Run

on:
  push:
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:

jobs:
  build-test-run:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Set up Clojure tooling
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          lein: 2.11.2

      - name: Check
        run: lein with-profile cicd check

      - name: Build
        run: lein with-profile cicd compile

      - name: Test
        run: lein with-profile cicd test

      - name: Build uberjar
        if: startsWith(github.ref, 'refs/tags/')
        run: lein with-profile cicd,uberjar uberjar

      - name: Create/Update Release with uberjar and dictionary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/uberjar/wordpuzzle-*-standalone.jar
            resources/dictionary
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run main with args
        run: lein with-profile cicd run -- --size=7 --letters=cadevrsoi
